<!--Start Header-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><p align="center">Step 2/2</p></ion-title>
  </ion-toolbar>
</ion-header>
<!--End Header-->

<!--OTP Page Content-->
<ion-content>
  <section>
  <div class="row">
    <ion-icon slot="start" src="../../assets/img/step02.svg" class="img_main"></ion-icon>
    <!--<div class="img_main"><img src="../../assets/img/step02.png" /></div>-->
    <div class="reg_cnt padding">
        <h1>Verification</h1>
        <p>Enter 4 digit number that sent to <br>
        <span>+966 50 806 1029</span></p>
    </div>
    <div class="padding_cus">
      <div class="input_no">
        <ion-input type="text" class="otp_code" placeholder="0" maxlength="1"></ion-input>
        <ion-input type="text" class="otp_code" placeholder="0" maxlength="1"></ion-input>
        <ion-input type="text" class="otp_code" placeholder="0" maxlength="1"></ion-input>
        <ion-input type="text" class="otp_code" placeholder="0" maxlength="1"></ion-input>
      </div>
    </div>
  </div>
  <div class="row">
    <h4 class="resend">Re-send code in 0:30</h4>
  </div>
</section>
<!--Start Button Content-->
  <section>
      <div class="row">
        <div class="padding">
            <button ion-button class="btn_default btn_active" expand="block" routerLink="/sc-dashboard" routerDirection="forward">Continue</button>
        </div>
      </div>
    </section>
<!--End Button Content-->
</ion-content>
<!--End Page Content-->