<ion-content>
    <ion-slides pager="true">
      <ion-slide>
        <div class="row">
            <img src="../../assets/img/Slide01.png" class="img_slider"/>
                
            <div class="slider_cont">
                <h1>Real-Time Tracking</h1>
                <p>Book experienced technician for you services in Home or Office, Instantly!</p>
                <button ion-button class="button button-block button-energized" expand="block" routerLink="/sc-welcome" routerDirection="backward">Skip Tutorial</button>
            </div>
        </div> 
      </ion-slide>
  
      <ion-slide>
        <div class="row">
            <img src="../../assets/img/Slide02.png" class="img_slider"/>
                
            <div class="slider_cont">
                <h1>Date & Time Mangement</h1>
                <p>Book experienced technician for you services in Home or Office, Instantly!</p>
                <button ion-button class="button button-block button-energized" expand="block" routerLink="/sc-welcome" routerDirection="backward">Book Your Technician Now</button>
            </div>
        </div> 
      </ion-slide>
  
      <ion-slide>
        <div class="row">
            <img src="../../assets/img/Slide03.png" class="img_slider"/>
                
            <div class="slider_cont">
                <h1>Tamkeen Users</h1>
                <p>Book experienced technician for you services in Home or Office, Instantly!</p>
                <button ion-button class="button button-block button-energized" expand="block" routerLink="/sc-welcome" routerDirection="backward">Book Your Technician Now</button>
            </div>
        </div> 
      </ion-slide>
    </ion-slides>
  </ion-content>
  