<!-- Start Header From Here -->
<ion-header>
  <ion-toolbar class="bg_primary">
    <ion-back-button slot="start">
      <ion-icon name="arrow-back" class="menu_ic"></ion-icon>
    </ion-back-button>
    <ion-title>Select Service</ion-title>
    <ion-buttons slot="end"></ion-buttons>
  </ion-toolbar>
  <div class="rec_radius"></div>
</ion-header> 
<!-- End Header Here -->

<ion-content>
  <section>
    <div class="container">
      <ion-row>
        <div class="sec_pro">
          <ion-icon class="io_ic" src="../../assets/img/svg/airc.svg" width="100%"></ion-icon>
          <h2>Air Condition</h2>
          <p>Our services include providing a comprehensive & cost-effective support services with local spares.</p>
        </div>
      </ion-row>
    </div>
  </section>

  <!--Start Second Section-->
  <section class="sec_two">
    <div class="container" style="padding-right: 0px;">
      <div class="row">
        <div class="ser_head">
          <h3>Select Product Type</h3>
        </div>
      </div>
    </div>
  </section>
  <!--End Second Section-->
  <section ng-app="switchExample">
    <div ng-controller="ExampleController">
      <select ng-model="selection" ng-options="item for item in items">
      </select>
      <code>selection={{selection}}</code>
      <hr/>
      <div class="animate-switch-container"
        ng-switch on="selection">
          <div class="animate-switch" ng-switch-when="settings|options" ng-switch-when-separator="|">Settings Div</div>
          <div class="animate-switch" ng-switch-when="home">Home Span</div>
          <div class="animate-switch" ng-switch-default>default</div>
      </div>
    </div>
  </section>
</ion-content>

<!--Start Ionic Bottom Menu-->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button expand="block" routerLink="/fawad" routerDirection="forward">
      <ion-icon src="../../assets/img/svg/icons/tamkeen_home.svg" class="btm_icon"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button expand="block" routerLink="/tghulam" routerDirection="forward">
      <ion-icon src="../../assets/img/svg/icons/spare_parts.svg" class="btm_icon"></ion-icon>
      <ion-label>Spare Parts</ion-label>
    </ion-tab-button>

    <ion-tab-button expand="block" routerLink="/sc-dashboard" routerDirection="forward">
      <ion-icon src="../../assets/img/svg/icons/store_location.svg" class="btm_icon"></ion-icon>
      <ion-label>Store Locator</ion-label>
    </ion-tab-button>

    <ion-tab-button expand="block" routerLink="/dashboard" routerDirection="forward">
      <ion-icon src="../../assets/img/svg/icons/cart.svg" class="btm_icon"></ion-icon>
      <ion-label>Cart</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!--End Ionic Bottom Menu-->

