// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

a:hover {color: #ee6623 !important;}

@font-face {
  font-family: 'Poppins';
  font-style: thin;
  font-weight: 100;
  src: url('../assets/fonts/Poppins-Thin.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: extra-light;
  font-weight: 200;
  src: url('../assets/fonts/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: light;
  font-weight: 300;
  src: url('../assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: regular;
  font-weight: 400;
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: medium;
  font-weight: 500;
  src: url('../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: semi-bold;
  font-weight: 600;
  src: url('../assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: extra-bold;
  font-weight: 800;
  src: url('../assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: black;
  font-weight: 900;
  src: url('../assets/fonts/Poppins-Black.ttf');
}

@font-face {
  font-family: 'Avenir-Roman';
  font-style: avenir-roman;
  font-weight: 300;
  src: url('../assets/fonts/Avenir-Roman.ttf');
}

@font-face {
  font-family: 'Avenir-Book';
  font-style: avenir-book;
  font-weight: 500;
  src: url('../assets/fonts/Avenir-Book.ttf');
}

@font-face {
  font-family: 'Avenir-Light';
  font-style: avenir-light;
  font-weight: 100;
  src: url('../assets/fonts/Avenir-Light.ttf');
}

.swiper-pagination-bullets {bottom: 35% !important;}

.swiper-pagination-bullet-active {background: #173874;}

.header-md:after {background-image: none; display: none;}

.header-ios ion-toolbar:last-child {--border-width: 0 0 0px;}

/*Start Bottom Menu SCSS*/

ion-tab-bar {
  height: 80px;
  box-shadow: 0 -3px 20px 0 rgba(45, 45, 45, 0.14);
  background-color: #ffffff;
}

ion-label {
  font-family: 'Poppins';
  font-weight: 500;
  letter-spacing: 0.13px;
  color: #6f8098;
}

ion-badge {
  background-color: #ee6623;
  font-family: 'Avenir';
  text-align: center;
  color: #f4f4f4;
  font-size: 10px;
  padding: 4px 6px;
  width: 24px;
  height: 24px;
  border-radius: 100px;
}

/*End Bottom Menu SCSS*/

/* Start App Header */



